meta(name="og:description", content="Vyber si oběd dle svých chutí, ať víme čím tě nakrmit.")
meta(name="og:image", content='http://'.$rq->host.\System\Resource::get_url('static', 'pixmap', 'archiv/2016/og-lunch.jpg'))
