.container
	h1 Přihláška na Improtřesk 2016
	.signup
		.row
			.col-md-6
				if $started
					if $ended
						.site-summary
							.report Přihlašování je již uzavřeno
					else
						.site-summary.sign
							.form-signup
				else
					.site-summary
						.report
							| Z technických důvodů jsme byli nuceni pozastavit přihlášky. Čekáme než k nám dojdou bankovní transakce.
						.report
							| Přihlašování se znovu otevře #{$start_f}.


				.site-summary.read-info
					.text
						| Přečtěte si zatím
					.info
						a(href=$ren->url('workshops')) Seznam workshopů

			.col-md-6
				.login-sheep
