.container

	.row
		.col-md-6
			h1 Kontakt
			.site-summary.orgs
				p
					| Organizátorem festivalu Improtřesk 2016 je
					|  <a href="http://improliga.cz">Česká Improvizační Liga</a>
					|  ve spolupráci s
					|  <a href="http://www.milevskem.cz/kultura-a-volny-cas/dum-kultury-milevsko/o-nas">DK Milevsko</a>
					|.

			.site-summary.contact-list
				ul.list-unstyled
					li
						dd Web:
						dt
							a(href="http://improtresk.cz")!=$rq->host

					li
						dd E-mail:
						dt
							a(href="improtresk@improliga.cz") info@improtresk.cz

					li
						dd Nouzový telefon:
						dt +420&nbsp;735&nbsp;061&nbsp;801

					li
						dd Facebook
						dt
							a(href="https://www.facebook.com/improligacz") https://www.facebook.com/improligacz

		.col-md-6
			.site-summary
				h3 Sledujte také

				ul
					li
						a(href="https://www.facebook.com/events/1506236296350287") Událost na Facebooku

					li
						a(href="https://www.facebook.com/hashtag/improtresk2016") #improtresk2016
