.container.faq
  h1 Často kladené dotazy

  .site-summary#proc-milevsko
    h2.quest Proč v Milevsku?

    .ans
      p Hledali jsme místo, kde můžeme být všichni spolu. KD Milevsko splnil všechna naše očekávání a touhy. Navíc jsme díky vstřícnosti ředitele Vítka mohli udržet cenu Improtřesku nízko.

  .site-summary#kdo-to-porada
    h2.quest Kdo to vlastně pořádá?

    .ans
      p Improtřesk 2016 pořádá Improliga. Zajímá tě více o <a href="/organizatori">organizátorech</a>?

  .site-summary#proc-nejsou-zahranicni-lektori
    h2.quest Proč nejsou na workshopech zahraniční lektoři?

    .ans
      p Myslíme si, že v našem okolí známe velké množství inspirativních lidí, od kterých se můžeme stále učit a kteří nás zlepší v hlavních improvizátorských dovednostech.

  .site-summary#s-sebou
    h2.quest Co s sebou?

    .ans
      p Maminka by vám jistě zabalila baťůžek. To od nás čekat nemůžete. Vezměte si s sebou:
      ul
        li Spacák a karimatku na spaní
        li Pohodlné oblečení na workshop
        li Teplé ponožky nebo přezuvky na workshop
        li Sponky do vlasů, ať vám během workshopů nevlají
        li Kartáček na zuby a jednu pastu na tým
        li Hrneček, lžíci a misku na snídani
