.site-summary.text-center
  section.site-header
    .site-header-image
      img(src=$ren->link_resource('pixmap', 'archiv/2016/site-header.png'))

      .site-heading
        h1 Improtřesk 2016
        i Na stejné vlnové délce

  section.site-announcement
    .container
      .site-date
        .date 13. 5. - 15. 5. 2016

  section.site-location
    .text
      | letos opět v
      =' '
      a(href=$ren->url('location')) Milevsku

  hr

.container.text-center
  .site-summary
    p Improtřesk je český festival divadelní improvizace a největší setkání improvizátorů z celé České republiky. Každý rok se na Improtřesku otevírají dílny z oblasti improvizačního divadla na kterých se schází nadšenci improvizačního divadla i veřejnost.

    iframe(width="560", height="315", src="https://www.youtube.com/embed/B3bWqFFeSvE", frameborder="0", allowfullscreen, style="display:block; margin: 1.5rem auto; border: 1px solid rgba(200,200,200,.75)")

    a.btn.btn-primary.btn-lg(href=$ren->url('signup')) Přihlásit se na Improtřesk
