.section-location
	.container

		h1 Kde bude Improtřesk
		p.lead Stejně jako minulý rok bude i letos Improtřesk v Milevsku. Letos se nám však otevřely další prostory, takže workshopy budou na dvou lokalitách.

	.container-fluid

		section.col-sm-6.col-lg-4
			h2 Dům kultury Milevsko
			p Detaily zatím připravujeme

		section.col-sm-6.col-lg-4
			h2 DDM Milevsko
			p Detaily zatím připravujeme

		section.col-sm-12.col-lg-4
			img(src=$ren->link_resource('pixmap', 'archiv/2016/site-location.png'))

