.section-location
	.container

		h1 Kde bude Improtřesk
		p.lead Stejně jako minulý rok bude i letos Improtřesk v Milevsku. Letos se nám však otevřely další prostory, takže workshopy budou na dvou lokalitách.

	.container-fluid

		section.col-sm-6.col-lg-4
			h2 Dům kultury Milevsko
			p Zde bude naše hlavní základna, je to první místo které chcete vidět pokud jedete na Improtřesk.

			ul
				li Check in
				li Workshopy
				li Spaní
				li Obědy

		section.col-sm-6.col-lg-4
			h2 DDM Milevsko
			p Tady bude pár workshopů, je to pěšky několik minut od DK Milevsko. Pokud budete mít workshop tady, oběd vám sem dovezeme.

			ul
				li Workshopy
				li Obědy

		section.col-sm-6.col-lg-4
			h2 Hotel Na stadionu
			p Zde zajišťujeme ubytování pro lektory a příplakové ubytování. Pokud jste si v přihlášce připlatitli za ubytování, spíte tady.

			ul
				li Spaní

		section.col-sm-12.col-lg-4
			img(src=$ren->link_resource('pixmap', 'archiv/2016/site-location.png'))

