.container.orgs
	h1 Organizátoři

	hr

	.col-sm-6.col-md-4
		h2 Miroslav Lamač <small>a jeho mise plný břich!</small>
		.thumbnail
			img(src=$ren->link_resource('pixmap', 'archiv/2016/orgs/miroslav-lamac.jpg'))

		p Když máš hlad utrhni si malý kousek ... a když se potřebuješ soustředit, utrhni si větší. Improtřesk je borce a borkyně, kteří se dokáží sami najíst Emotikona winkpříbor a ešus s sebou. Váš Míra Guide

	.col-sm-6.col-md-4
		h2 Taťána B Havlíčková <small>Rozumí kočka ovcím?</small>
		.thumbnail
			img(src=$ren->link_resource('pixmap', 'archiv/2016/orgs/tatana-havlickova.jpg'))
		p To se neví, ale zvíře zvířeti určitě..a rozumí i improvizátorům, jsou totiž na stejné vlně. Facebookový hlas improtřesku, vizáž a hlas ovcí a mnoho dalších krásných úkolů patří Taťáně..už za pár dní v Milevsku se můžete přesvědčit..na viděnou tam..

	.col-sm-6.col-md-4
		h2 Táňa Jírová
		.thumbnail
			img(src=$ren->link_resource('pixmap', 'archiv/2016/orgs/tana-jirova.jpg'))

		p Že improtřesk není jen kalba, ale mohl by ses tam i něco naučit? Tak přesně o tohle se tahle holka stará... Vymyslí ty nejlepší workshopy a získá pro ně ty nejúžasnější lektory!

	.col-sm-6.col-md-4
		h2 Pavla Sedláčková
		.thumbnail
			img(src=$ren->link_resource('pixmap', 'archiv/2016/orgs/pavla-sedlackova.jpg'))
		p ...Tahle holka si zkratka nedá pokoj! Pod rouškou noci vám každý třeskový večer odhalí jiného interpreta a že to bude párty roku je snad jasný! O to, abyste večer rozhoupali boky a ráno se neprobouzeli sami se postará Paja! TRAMTARADÁ!

	.col-sm-6.col-md-4
		h2 Karolína Stehlíková
		.thumbnail
			img(src=$ren->link_resource('pixmap', 'archiv/2016/orgs/karolina-stehlikova.jpg'))

		p Nacpe průměrný improvizátor hlavu mezi dva schody? Nevíte? A nacpe jí tam Kája? Uvidíme… Zábavné taškařice do mezer v programu pro vás připravuje Kája!

	.col-sm-6.col-md-4
		h2 Vanda Gabrielová
		.thumbnail
			img(src=$ren->link_resource('pixmap', 'archiv/2016/orgs/vanda-gabrielova.jpg'))
		p Vanda, co se postará, aby jste nezabloudili v uličkách Milevska, našli ten správný workshop, zatančili si na tanečním parketu s tím kým chcete a našli svůj pelíšek na odpočinek. Má prostě všechny mapy a stezky v malíčku. Indiánský zvěd a impro navigátor!

	.col-sm-6.col-md-4
		h2 Michala Konopásková
		.thumbnail
			img(src=$ren->link_resource('pixmap', 'archiv/2016/orgs/michala-konopaskova.jpg'))

		p Ferda mravenec, práce všeho druhu. Náš záchranný kruh na bouřlivých vlnách improtřeskové organizace. Co jiní nestihnou, Míša dotáhne. Má totiž svou pravou ruku, pomocníka, který byl na loňském improtřesku ještě inkognito :-)

	.col-sm-6.col-md-4
		h2 Václav Černý
		.thumbnail
			img(src=$ren->link_resource('pixmap', 'archiv/2016/orgs/vaclav-cerny.jpg'))

		p Tohle je Vašek. Má hlavu plnou faktur, bankovních poplatků a účtenek. Vašek..

	.col-sm-6.col-md-4
		h2 Martin Dočkal
		p Nemáte vůbec žádnej problém. Hoďte se pěkně do klidu, Martin řeší problémy.
