.container.text-xs-center.text-sm-left.schedule
	h1 Program Improtřesku 2016

	.row
		.col-sm-6.col-md-4
			h3 Pátek

			ul.list-unstyled
				li
					span.label.label-primary 16:00
					span.name Check-in
				li
					span.label.label-primary 17:00
					span.name Malé hraní
				li
					span.label.label-default 20:00
					span.name Konec check-inu
				li
					span.label.label-primary 20:30
					span.name Zahájení Improtřesku 2016
				li
					span.label.label-primary 21:00
					span.name Koncert
				li
					span.label.label-primary 22:30
					span.name Tamagucci, DJ Baku

		.col-sm-6.col-md-4
			h3 Sobota

			ul.list-unstyled
				li
					span.label.label-primary 08:00
					span.name Snídaně v hlavním sále
				li
					span.label.label-primary 09:30
					span.name Workshopy 1/3
				li
					span.label.label-default 13:00
					span.name Konec workshopu 1/3
				li
					span.label.label-primary 13:00
					span.name Oběd
				li
					span.label.label-primary 14:30
					span.name Workshopy 2/3
				li
					span.label.label-default 18:00
					span.name Konec workshopu 2/3
				li
					span.label.label-default 18:30
					span.name Volno na večeři
				li
					span.label.label-primary 20:00
					span.name Divadelní představení
				li
					span.label.label-primary 22:00
					span.name Koncert
				li
					span.label.label-primary 23:00
					span.name Tamagucci, DJ Baku

		.col-sm-6.col-md-4
			h3 Neděle

			ul.list-unstyled
				li
					span.label.label-primary 08:00
					span.name Snídaně v hlavním sále
				li
					span.label.label-primary 09:30
					span.name Workshopy 3/3
				li
					span.label.label-default 12:30
					span.name Konec workshopu 3/3
				li
					span.label.label-primary 13:00
					span.name Oběd a Zavírání Improtřesku
				li
					span.label.label-primary 14:30
					span.name Ukončení Improtřesku
