.container.text-xs-center.text-sm-left
	h1 Program Improtřesku 2016

	.col-sm-6.col-md-4
		h3 Pátek

		ul.list-unstyled
			li 14:00 Check-in a malé hraní
			li 20:00 Konec check-inu
			li 20:30 Zahájení Improtřesku 2016
			li 21:00 Koncert
			li 22:30 Tamagucci, DJ Baku

	.col-sm-6.col-md-4
		h3 Sobota

		ul.list-unstyled
			li 08:00 Snídaně v hlavním sále
			li 09:30 Workshopy 1/3
			li 13:00 Konec workshopu 1/3
			li 13:00 Oběd
			li 14:30 Workshopy 2/3
			li 18:00 Konec workshopu 2/3
			li 18:30 Volno na večeři
			li 20:00 Divadelní představení
			li 22:00 Koncert
			li 23:00 Tamagucci, DJ Baku

	.col-sm-6.col-md-4
		h3 Neděle

		ul.list-unstyled
			li 08:00 Snídaně v hlavním sále
			li 09:30 Workshopy 3/3
			li 12:30 Konec workshopu 3/3
			li 13:00 Oběd a Zavírání Improtřesku
			li 14:30 Ukončení Improtřesku
