.container.orgs
	h1 Podmínky pro účastníky

	p Pro přihlášení na festival Improtřesk, musíte souhlasit s následujícími podmínkami.

	p Podmínky pro účastníky improvizačního festivalu Improtřesk, organizovaném Českou improvizační ligou z. s. (dále jen „Improliga“)

	p Improliga není povinna vracet poplatek účastníkům, kteří se z libovolných důvodů nemohou zúčastnit festivalu. Účastníci si za sebe mohou při neúčasti najít náhradníka.

	p Účastníci jsou odpovědní sami za sebe a Improliga nenese odpovědnost za zdraví a činy účastníků.

	p Pořadatel nenese odpovědnost za ztracené, či odcizené věci. Doporučujeme s sebou na festival nebrat žádné cennosti.

	p Kouření je v areálu festivalu povoleno jen na předem vyhrazených místech.

	p Do celého areálu festivalu je přísný zákaz vstupu se psy a dalšími zvířaty.

	p Do areálu festivalu je zákaz vnášení zbraní.

	p Při porušování těchto podmínek, či nerespektování pravidel slušného chování, mají pořadatelé právo vyloučit účastníka z festivalu a zamezit mu ve vstupu do areálu.

	p Souhlasím, aby Improliga, zpracovávala mé osobní údaje pro administrativní účely (ukládání, úprava, vyhledávání, třídění, kombinování, likvidace a poskytování třetím osobám, jejichž totožnost je mi Improliga povinna sdělit) v souladu se zákonem č. 101/2000 Sb. "O ochraně osobních údajů" ve znění pozdějších předpisů, a to až do odvolání písemnou formou. Potvrzuji, že jsem obeznámen se svými právy v souvislosti s přístupem k informacím a jejich ochraně podle §12 a §21 zákona č. 101/2000 Sb. ve znění pozdějších předpisů.

