.container.workshops
	.container
		h1 Workshopy
		.site-summary.comment
			p Workshopy zatím připravujeme.

	- foreach $items as $ws
		.col-sm-6.col-md-4.col-lg-3
			.workshop-item.text-center
				.sheep-container
					if $ws->id
						a(href=$ren->url('workshop', array("workshop" => $ws->id)))
							.sheep-ass
								.sheep-ass-content
									h4=$ws->lector
									h3=$ws->name
									p=$ws->difficulty
					else
						.sheep-ass
							.sheep-ass-content
								h3=$ws->name
