.container
	h1 Improtřesk 2016 - přehled příspěvků

	p
		13. května 2016 v Milevsku

	table.table.table-striped
		thead
			tr
				th Jméno
				th Příjmení
				th.text-right Datum narození
				th.text-right Přispěl
				th E-mail
				th Podpis

		tbody
			- foreach $participants as $participant
				tr
					td=$participant->name_first
					td=$participant->name_last
					td.text-right=$participant->birthday
					td.text-right!=$participant->check->amount.'&nbsp;Kč'
					td=$participant->email
					td(style="width: 40mm")
