.container.stats.stats-hotel
  .site-summary.stat-list
    h1 Rozdělení na pokoje

    p Toto je grafické znázornění obsazení pokojů v příplatkovém ubytování v Milevsku na Improtřesk 2016. Vazby jsou automaticky počítány z preferencí zvolených v registraci k ubytování (viz e-mail). Bohužel se nedá vyjít vstříc úplně všem požadavkům, proto jsou některé vazby ponechány otevřené.

    .row
      .col-md-6
        h2 Legenda
        ul.no-style
          li
            span.glyphicon.glyphicon-home
            =' '
            | Ukazuje přidělený pokoj
          li
            span.glyphicon.glyphicon-bed
            =' '
            | Ukazuje spolubydlící
          li
            span.glyphicon.glyphicon-transfer
            =' '
            | Ukazuje nepropojené vazby

      .col-md-6
        h2 Nápověda jednou větou

        ul
          li Čísla pokojů i rozmístění účastníků se mění podle zadání.
          li Spolubydlícím se v tomto seznamu stanete pouze pokud to chtějí obě strany.
          li Pokoje jsou přidělovány dynamicky aby došlo k optimálnímu zaplnění.

    hr

    .row
      - foreach $rooms as $index => $room
        .col-sm-6.col-md-4.col-lg-3
          .panel.panel-default
            .panel-heading
              :php
                $className = 'label-info';

                if ($room['max'] == 3) {
                  $className = 'label-warning';
                }

                if ($room['max'] == 4) {
                  $className = 'label-danger';
                }

              - if $room['paired']
                span.glyphicon.glyphicon-home
                =' Ubytováno'

                .room-label.pull-right
                  .label.room-label-left(class=$className)
                    .glyphicon.glyphicon-lamp
                    =' Pokoj'
                  span.label.label-primary.room-label-mid=$room['label']
                  span.label.room-label-right(class=$className)=count($room['housed']).'/'.$room['max']
              - else
                span.glyphicon.glyphicon-transfer
                =' Nespárováno '
                span.label.pull-right(class=$className)=count($room['housed']).'/'.$room['max']

            .panel-body
              ul
                - foreach $room['housed'] as $signup
                  li
                    .matched
                      span.glyphicon.glyphicon-bed
                      &nbsp;
                      span.name=$signup->toName()
                    .unmatched
                      - foreach $signup->room->fetch() as $mate
                        - if !in_array($mate->roommate->id, $housed)
                          .unmatched-link
                            span.glyphicon.glyphicon-transfer
                            &nbsp;
                            span.name=$mate->roommate->toName()

    hr

    section
      h2 Volné pokoje

      ul.list-inline.rooms-free
        - foreach $free as $room
          li
            :php
              $className = 'label-info';

              if ($room['max'] == 3) {
                $className = 'label-warning';
              }

              if ($room['max'] == 4) {
                $className = 'label-danger';
              }

            .label.room-label-left(class=$className)
              .glyphicon.glyphicon-lamp
              =' Pokoj'
            .label.label-primary.room-label-mid=$room['label']
            .label.room-label-right(class=$className)=$room['max']
