.container.stats.stats-hotel
  .site-summary.stat-list
    h1 Rozdělení na pokoje

    p Toto je grafické znázornění obsazení pokojů v příplatkovém ubytování v Milevsku na Improtřesk 2016. Vazby jsou automaticky počítány z preferencí zvolených v registraci k ubytování (viz e-mail). Bohužel se nedá vyjít vstříc úplně všem požadavkům, proto jsou některé vazby ponechány otevřené.

    h2 Legenda
    ul.no-style
      li
        span.glyphicon.glyphicon-bed
        =' '
        | ukazuje spolubydlící
      li
        span.glyphicon.glyphicon-transfer
        =' '
        | ukazuje nenaplněné vazby

    hr

    .row
      - foreach $rooms as $room
        .col-sm-6.col-md-4.col-lg-3
          .panel.panel-default
            .panel-heading
              - if count($room) > 1
                span.glyphicon.glyphicon-home
                =' Spolubydlící ('.count($room).')'
              - else
                span.glyphicon.glyphicon-transfer
                =' '
                | Nespárováno
            .panel-body
              ul
                - foreach $room as $signup
                  li
                    .matched
                      span.glyphicon.glyphicon-bed
                      &nbsp;
                      span.name=$signup->toName()
                    .unmatched
                      - foreach $signup->room->fetch() as $mate
                        - if !in_array($mate->roommate->id, $housed)
                          .unmatched-link
                            span.glyphicon.glyphicon-transfer
                            &nbsp;
                            span.name=$mate->roommate->toName()
