.container.stats.stats-hotel
  .site-summary.stat-list
    h1 Rozdělení na pokoje

    p Toto je grafické znázornění obsazení pokojů v příplatkovém ubytování v Milevsku na Improtřesk 2016. Vazby jsou automaticky počítány z preferencí zvolených v registraci k ubytování (viz e-mail). Bohužel se nedá vyjít vstříc úplně všem požadavkům, proto jsou některé vazby ponechány otevřené.

    .row
      .col-md-6
        h2 Legenda
        ul.no-style
          li
            span.glyphicon.glyphicon-home
            =' '
            | Ukazuje přidělený pokoj
          li
            span.glyphicon.glyphicon-bed
            =' '
            | Ukazuje spolubydlící
          li
            span.glyphicon.glyphicon-transfer
            =' '
            | Ukazuje nepropojené vazby

      .col-md-6
        h2 Nápověda jednou větou

        ul
          li Čísla pokojů i rozmístění účastníků se mění podle zadání.
          li Spolubydlícím se v tomto seznamu stanete pouze pokud to chtějí obě strany.
          li Pokoje jsou přidělovány dynamicky aby došlo k optimálnímu zaplnění.

    hr

    .row
      - foreach $rooms as $index => $room
        .col-sm-6.col-md-4.col-lg-3
          .panel.panel-default
            .panel-heading
              - if $room['paired']
                span.glyphicon.glyphicon-home
              - else
                span.glyphicon.glyphicon-transfer

              =' '.$room['label'].' ('.count($room['housed']).'/'.$room['max'].')'
            .panel-body
              ul
                - foreach $room['housed'] as $signup
                  li
                    .matched
                      span.glyphicon.glyphicon-bed
                      &nbsp;
                      span.name=$signup->toName()
                    .unmatched
                      - foreach $signup->room->fetch() as $mate
                        - if !in_array($mate->roommate->id, $housed)
                          .unmatched-link
                            span.glyphicon.glyphicon-transfer
                            &nbsp;
                            span.name=$mate->roommate->toName()
