.container
	.stats.meal-stats.meal-participants
		.site-summary.day-list
			ul.list-unstyled
				- foreach $participants as $participant
					li.col-md-6
						h3=$participant['name']

						ul
							- foreach $participant['days'] as $day
								li.row
									.col-sm-2
										span.label.label-default.date=$day['date']
									.col-sm-10
										- foreach $day['food'] as $food
											.food=$food->name
