.container
  ul.list-unstyled
    - foreach $workshops as $ws
      li.col-sm-3
        .panel.panel-default
          .panel-heading
            strong.ws-info
              span.ws-name=$ws->name
            =' '
            .label.label-default.ws-lector=$ws->lector
            span.badge.pull-right=$ws->ass_total

          .panel-body
            if count($ws->ass_all) > 0
              ol.ws-members
                - foreach $ws->ass_all as $ass
                  li
                    span.ass-name=$ass->name_first.' '.$ass->name_last
