.frontend
	header
		.container
			nav.navbar.navbar-inverse
				.container-fluid
					.navbar-header
						button.navbar-toggle.collapsed(type="button", class="", data-toggle="collapse", data-target="#navbar")
							span.icon-bar
							span.icon-bar
							span.icon-bar

						.navbar-brand
							a(href="/") Improtřesk

					#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav.pull-right
							li.dropdown
								a.dropdown-toggle(data-toggle="dropdown", role="button", href=$ren->url('info'))
									| Pro účastníky
									=" "
									span.caret

								ul.dropdown-menu
									li
										a(href=$ren->url('workshops')) Workshopy
									li
										a(href=$ren->url('accommodation')) Ubytování
									li
										a(href=$ren->url('food')) Jídlo
									li
										a(href=$ren->url('fees')) Poplatky
									li
										a(href=$ren->url('carshare')) Improjízdomat
									li
										a(href=$ren->url('tips')) Tipy
									li
										a(href=$ren->url('terms')) Podmínky

							li.nav-item
								a(href=$ren->url('signup')) Přihláška
							li.nav-item
								a(href=$ren->url('schedule')) Program
							li.dropdown
								a.dropdown-toggle(data-toggle="dropdown", role="button", href=$ren->url('about'))
									| O Improtřesku
									=" "
									span.caret

								ul.dropdown-menu
									li
										a(href=$ren->url('location')) Místo konání

									li
										a(href=$ren->url('faq')) Časté dotazy
									li
										a(href=$ren->url('orgs')) Organizátoři
							li.nav-item
								a(href=$ren->url('contact')) Kontakt

	.content
		:php
			$ren->render_yield();
			$ren->slot('outer');
			$ren->slot();
