.container.page-hotel
  h1 Registrace k ubytování

  p
    a(href=$ren->url('accommodation.hotel'))
      span.glyphicon.glyphicon-user
      =' '
      | Online rozpis spolubydlících

  :php
    $ren->slot('outer');
    $ren->slot();
