.ui-form-signup {
	text-align:left;

	input[type=text],
	input[type=email],
	textarea {
		border: 1px solid #afafaf;
		border-radius: 3px;
		font-size:18px;
		min-width:300px;
		padding: 3px 6px;
	}

	.heading {
		font-size:24px;
	}

	.form-group-typed-basic-info {
		label {
			width:170px;
		}
		.desc {
			padding-left:170px;
		}

		.form-group-typed-name .set {
			padding: 0;
		}
	}

	.input {
		margin-bottom:.5rem;

		&:last-child {
			margin-bottom: 0;
		}

		.desc {
			padding-top:5px;
			margin-bottom:15px;
		}
	}

	.input-checkbox {
		label {
			width:auto;
		}

		.desc {
			font-size:14px;
			padding-left:30px;
			padding-top:0;
		}

		input {
			height:auto;
			padding:0;
			vertical-align:middle;
			width:auto;
		}
	}

	button {
		display:block;
		margin:0 auto;
	}

	.form-group-typed-workshops {
		label {
			display:none;
		}
	}
}


.login-sheep {
	background:url(<pixmap(archiv/2016/ovce/prihlaska.png)>) center center no-repeat;
	background-size: contain;
	width:100%;
	min-height:600px;
}
