.site-summary {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.site-header-image {
  margin-bottom: 1rem;

  img {
    max-width:600px;
    pointer-events:none;
    width:100%
  }

  &.small {
    text-align:center;
    img {
      max-width:300px;
    }
  }
}

.site-announcement {
  font-size: 28px;
}

.site-location {
  font-size: 18px;
}

.site-heading {
  h1 {
    font-size:38px;
  }


  i {
    font-size:18px;
  }
}

.site-header-image {
  padding-bottom:1rem;
}


.section-location {
  img {
    display:block;
    margin:0 auto;
    max-width:400px;
    width: 100%;
  }
}
